@import url(https://fonts.bunny.net/css?family=nunito-sans:200,400,600,700);

:root {
  --white: #fff;
  --offWhite: #f7f7f7;
  --charcoal: #333;
  --black: #000;
  --grey: #BEBEBE;
  --purple: #9A69C0;
}

body { font-family: "Nunito Sans", sans-serif;  background: var(--white); color: var(--charcoal); font-size: 100%; line-height: 1.6em; margin: 0; }

header { background: url('images/banner.jpg'); background-size: cover; background-attachment: fixed; background-repeat: none; height: 90dvh; color: var(--black); }
header, footer { display: flex; flex-direction: column; justify-content: center; align-items: center; flex-wrap: wrap; }
footer { flex-direction: row; padding: 1.4em 5vw; }
footer div {width: 70%; }
header figure, footer figure { width: 200px; margin: 0 5vw 0 0; }
footer figure { margin: 0; }
header nav { width: 100%; font-size: 1.4em; display: inline-block; padding: 0.6em; font-weight: 400; display: flex; justify-content: space-around; }

footer { background:#eee; }

main { padding: 0 5vw; display: flex; flex-direction: row-reverse; }
main > div { flex-basis: 75vw; }
main > nav { flex-basis: 15vw; border-top: 1px solid var(--purple); border-bottom: none; margin: 8.2em 10vw 7.6em 0; padding: 1.4em 0 0; text-align: left; }

h1, h2, h3 { font-weight: 600;}
h1 {font-size: 2.6em; line-height: 1.15em; font-weight: 400; }
h2 { font-size: 2.2em; line-height: 1.25em; text-transform: uppercase; margin: 4em 0 0.8em;}
h3 { font-size: 1.8em; line-height: 1.4em; }
p, ul, ol { font-size: 1.2em; }

header h1 { margin: 1em 0 0; }
header p { font-weight: 400; font-size: 1.4em; margin: 0.4em 0 0; }

nav { border-bottom: 1px solid var(--grey); text-align: center; }
nav a { display: inline-block; font-weight: 700; font-size: 1em; padding: 3.6em 2.6em 3em 2.6em; }
main > nav a { display: block; padding: 0.6em 0.2em; }

figure { margin: 0; }
figure img { width: 100%; height: auto; }
main figure { margin: 0 0 2em 0;}
